* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    height: 100%;
    width: 100%
}
body {
    font-family: 'Roboto';
    font-style: normal;
    height: 100%;
    width: 100%;
    color: #E5E5E5;
}

.login-page__form-img {
    height: 132px;
    width: 132;
}

.login-page {
    min-height: 100%;
    width: 100%;
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page__form {
    width: 400px;
    height: 464px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
}

.login-page__txt {
   font-weight: 700;
   font-size: 24px;
   line-height: 150%;
   line-height: 150%;
   color: #373745;
   align-self: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

.login-page__input {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.24px;
   color: #373745;
   height: 48px;
   display: flex;
   padding: 12px 20px;
   background: #FFFFFF;
   border: 1px solid #DCDCDF;
   border-radius: 12px;
   margin-bottom: 12px;

}

.login-page__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  height: 48px;
  background: rgba(96, 194, 170, 0.3);
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  margin-top: 8px;

}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
  width: -webkit-fill-available;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0px 0px 16px 16px;
}

header #nav-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;

}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

#nav-panel .active {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* рейтинг */


.user-rating {
    background-color: #E5E5E5;;
    min-height: 100vh;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    justify-content: center;
    

}
.user-rating__container {
    height: 856px;
    width: 1026px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: calc(50% - 1026px/2);
    top: 144px;
    bottom: 80px;
    border-radius: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px
     rgba(44, 57, 121, 0.09);
     padding: 32px 32px 40px 32px;
     margin-top: 80px;
}

.user-rating__txt {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color:  #373745;
    margin-bottom: 24px;
}

.user-rating__table-header, 
.user-rating__row {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 0px;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    color: #373745;
}

.user-rating__table-header {
    font-weight: 500;
    
}

.user-rating__row {
    font-weight: 400;

}

.user-rating__cell-name {
    width: 440px;

}  


.user-rating__cell-win, .user-rating__cell-lost, .user-rating__cell-games {
    width: 108px;
}



.user-rating__cell-percent {
    width: 134px;
}

#green {
   color: #69B849;
}

#red {
   color: #E93E3E;
}
